
WhatToWear/art.scnassets/textures/moss_diffuse.png

WhatToWear/art.scnassets/textures/moss_round_specular.png

WhatToWear/art.scnassets/textures/moss_specular.png

WhatToWear/art.scnassets/textures/moss_round_diffuse.png
